/*

# .gitignore
!/.gitignore

# .xprofile (fcitx config)
!/.xprofile

# .Xdefaults (urxvt config)
!/.Xdefaults

# .gmrunrc (gmrun config)
!/.gmrunrc

# .compton.conf (compton config)
!/.compton.conf


# .config/
!/.config

# mpv config
!/.mpv

