#!/bin/sh

# Fcitx
# Need to run fcitx while startup
#export GTK_IM_MODULE=fcitx
#export XMODIFIERS=@im=fcitx
#export QT_IM_MODULE=fcitx

# IBus
# Need to run ibus-daemon -drx while startup
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
