[Unit]
Description=Run user script after suspend
After=basic.target suspend.target hibernate.target

[Service]
User=root
Environment=DISPLAY=:0
ExecStart=/home/lon/dotfiles/trackpadfix.sh

[Install]
WantedBy=basic.target suspend.target hibernate.target
