/* 
  Make Firefox looks more native in macOS.
*/

@-moz-document url("chrome://browser/content/browser.xhtml") {

	/* Disable sidebar header for TST */
	#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
		display: none;
	}

	/* 各部のバーが透けるようにする */
	
	#TabsToolbar {
		-moz-appearance: -moz-mac-vibrancy-light !important;
	}
	#nav-bar {
		-moz-appearance: -moz-mac-vibrancy-light !important;
	}
	#PersonalToolbar {
		-moz-appearance: -moz-mac-vibrancy-light !important;
	}
	#TabsToolbar:-moz-lwtheme-brighttext {
		-moz-appearance: -moz-mac-vibrancy-dark !important;
	}
	#nav-bar:-moz-lwtheme-brighttext {
		-moz-appearance: -moz-mac-vibrancy-dark !important;
	}
	#PersonalToolbar:-moz-lwtheme-brighttext {
		-moz-appearance: -moz-mac-vibrancy-dark !important;
	}
	
	:root {
		background: transparent !important;
	}

	/*
	  * ツールバーの順番を入れ替える
	  * タイトルバーを消す
	*/
	#navigator-toolbox {
		display: flex;
		flex-direction: column;
	}
	#titlebar {
		order: 1;
		height: 0;
	}
	#PersonalToolbar {
		order: 2;
	}
	
	/* タブを消す */
	.toolbar-items {
		display: none;
	}
	/* 信号機を上にもっていく */
	.titlebar-buttonbox-container {
		margin-top: -39px;
		padding-left: 6px;
	}
	/* 謎の罫線を消す */
	.titlebar-spacer {
		display: none;
	}
	
	/* ツールバーの高さを調整 */
	#nav-bar-customization-target {
		padding-top: 4px;
		padding-bottom: 0;
		margin-left: 8px;
	}
	
	/* ツールバーの中身を信号機のぶん右に */
	html:not([OSXLionFullscreen]) #nav-bar-customization-target {
		margin-left: 106px !important;
	}
	
	/* アドレスバーのボーダーを消す */
	html#main-window {
		--urlbar-separator-color: transparent !important;
	}
	
	/* ハンバーガーメニューの左の罫線を消す
	   ハンバーガーメニューをやや左に寄せる */
	#PanelUI-button {
		border: 0 !important;
		padding: 0 5px !important;
	}
	
	/* ロケーションバーの位置を直す */
	#urlbar[breakout] {
		top: 5px !important;
	}
	#urlbar[breakout][breakout-extend] {
		top: -4px !important;
	}
	
	/* プライベートブラウジングのアイコンの位置を調整 */
	.private-browsing-indicator {
		margin-top: -40px;
		margin-left: 2px;
	}
	
	/* >> とハンバーガーメニューを若干下に寄せる */
	#nav-bar-overflow-button {
		margin-top: 5px !important;
	}
	#PanelUI-button {
		margin-top: 5px;
	}
	
}
