#!/bin/bash

export MOZ_USE_XINPUT2=1
export EDITOR=nvim
export W3MIMGDISPLAY_PATH=/usr/lib/w3m/w3mimgdisplay

# [[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources

export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
export GLFW_IM_MODULE=ibus

# exec setxkbmap jp &

