/* Disable sidebar header for TST */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}


/* Hide sidebar automatically in fullscreen mode */
#main-window[inFullscreen] #sidebar-box,
#main-window[inFullscreen] #sidebar-splitter {
  display: none !important;
  width: 0px !important;
}

/* stolen from https://github.com/not-holar/my_firefox_theme */

/*
			REMOVE TAB BAR - START
*/

:root[sizemode="maximized"][tabsintitlebar="true"] #navigator-toolbox {
	margin-top: 7px;
}

#toolbar-menubar,
#TabsToolbar > :not(.titlebar-buttonbox-container):not(.private-browsing-indicator) {
	visibility: collapse !important;
}

.private-browsing-indicator {
	background-size: 60%;
	margin-inline-end: 6px;
}

/* Workaround v2 (Since #nav-bar is bad at laying out children (it doesnt respect ::after's width on small window widths), just make it get out of the way)*/
:root[tabsintitlebar="true"] #nav-bar {
	margin-right: max(150px, calc(100vw / 6.6)) !important;

	background: none !important;
}
/* Then move the background to the parent to preserve proper look */
:root[tabsintitlebar="true"] #navigator-toolbox {
	background-color: var(--toolbar-bgcolor);
	background-image: var(--toolbar-bgimage);
	background-clip: padding-box;
}

#titlebar {
	padding: 0 !important;
	-moz-appearance: none !important;
	position: fixed !important;
	left: 0 !important;
	right: 0 !important;
	height: 40px !important;
	display: flex !important;
	align-items: center;
	justify-content: end;
}


/*
			REMOVE TAB BAR - END
*/

#nav-bar-customization-target {
	padding-left: 5px !important;
}
